{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 160,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
